<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CreateNewNuGetPackageFromProjectAfterEachBuild" version="1.8.11" targetFramework="net461" developmentDependency="true" />
  <package id="Lime.Messaging" version="0.7.132" targetFramework="net461" />
  <package id="Lime.Protocol" version="0.7.132" targetFramework="net461" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net461" />
</packages>